#login {
  padding-top: 100px;
}

mat-card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  color: white;
}

mat-card-content {
  margin-top: 16px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}