.spacer {
    flex: 1 1 auto;
}

.button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.user-info {
    margin: 8px 8px 8px 0;
}

.link-no-styles {
    color: white;
    text-decoration: none;
}