<mat-toolbar>
  <mat-toolbar-row>
    <span><a href="/" class="link-no-styles">{{ title }}</a></span>
    <span class="spacer"></span>
    <span *ngIf="isLoggedIn" class="user-info">{{ user?.name }}</span>
    <mat-chip-option *ngIf="isLoggedIn" class="user-info">{{ user?.role | titlecase }}</mat-chip-option>
    <div class="button-row">
      <a *ngIf="!isLoggedIn" mat-flat-button href="register">Register</a>
      <a *ngIf="!isLoggedIn" mat-flat-button href="login" color="primary">Login</a>
      <button *ngIf="isLoggedIn" mat-flat-button color="warn" (click)="onLogout()">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>