#brand {
  margin: 12px 24px;
  padding: 0 24px;
}

.flex-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label, .button-row {
  display: table-cell;
  margin: 8px 0;
}

.mat-column-id, .mat-column-name {
  width: 30%;
}

.mat-column-actions {
  width: 40%;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}