<h1 mat-dialog-title>{{ dialogData?.title }}</h1>
<div mat-dialog-content>
  <ng-container *ngFor="let item of dialogData?.formData">
    <mat-form-field *ngIf="item.type == 0" class="pt-8 pb-8">
      <mat-label>{{ item.name }}</mat-label>
      <input type="text" matInput [(ngModel)]="item.value" />
    </mat-form-field>

    <div *ngIf="item.type == 1" class="flex-display pb-8">
      <img *ngIf="item.value != ''" alt="Brand image" width="120" [src]="'data:image/png;base64,' + item.value">
      <p *ngIf="item.value == ''" class="mb-0">Upload image</p>

      <input type="file" accept=".png, .jpg, .jpeg" class="d-none" #fileUpload (change)="onFileSelected($event)" />
      <button (click)="fileUpload.click()" mat-mini-fab color="primary"><mat-icon>attach_file</mat-icon></button>
    </div>
  </ng-container>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="false">No</button>
  <button mat-button (click)="onClick()">{{ dialogData?.btnLabel }}</button>
</div>